<h1>New track</h1>

<% form_for(@track) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :cookie %><br />
    <%= f.text_field :cookie %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', tracks_path %>
