<style type="text/css">
  textarea#topic_content {
    border: solid 1px #999;
    height: 40px;
    width: 400px;
  }
  input#t {
    border: solid 1px #999;
    width: 400px;
    margin-left: 8px;
  }
  input[type=submit] {
    border: solid 1px #999;
    width: 58px;
    margin-left: 8px;
  }
  label {
    font-size: 12px;
    font-weight: bold;
    color: #666;
  }
  div#main_deal {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: left;
  }
  div#creation_prompt {
    margin-top: 10px;        
  }
  .topic_in_list {
    margin: 10px 10px 0px 10px;
    border: solid 1px #fff;
    padding: 5px;
    background-color: #f4f4f4;
  }
  .topic_owner_in_list {
    float: left;
    border: none;
  }
  .owner_pic_in_list {
    border: none;        
  }
  .topic_content_in_list {
    margin-left: 35px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
  }
  .topic_content_link_in_list {
    text-decoration: none;
    color: #507090; 
  }
  .topic_time_in_list {
    font-size: 11px;
    color: #aaa;
    margin-left: 35px;
  }
  div#existing_suggestions {
    width: 70%;
    margin-left: 20px;
    text-align: left;
  }
  div#exist_prompt {
    margin: 10px;
  }
  div#topic_area {
          margin-top: 50px;
          margin-left: auto;
          margin-right: auto;
          width: 90%;
          }
  div#the_topic {
      padding: 5px;
      background-color: #f4f4ff;
      text-align: left;
      min-height:80px; 
      height:auto;
  }
  .comment {
          padding: 5px;
          background-color: #f4f4ff;
          text-align: left;
          min-height:40px; 
          height:auto;
          margin-top: 10px;
          width: 60%;
          overflow: hidden;
          }
  .root {
          }
  .owner_pic, .comment_owner_pic {
      border: solid 1px #fff;
      float: left;
  }
  .topic_content {
      margin-left: 70px;
      font-family: arial, helvetica, sans-serif;
      font-size: 18px;
      color: #000;
  }
  .comment_content {
          margin-left: 50px;
          margin-right: 50px;
          font-family: verdana, sans-serif;
          font-size: 12px;
          color: #000;
          }
  .topic_time {
          font-size: 13px;
          color: #666;
          margin-left: 70px;
  }
  .comment_time {
          font-size: 11px;
          color: #bbb;
          margin-left: 50px;
          }
  .topic_owner_name {
          font-size: 16px;
          color: #aaa;
          margin-left: 70px;
          }
  .comment_text_area {
          width: 100%;
          height: 30px;
          border: solid 1px #99c;
          }
  div#topic_reply {
          width: 60%;
          text-align: left;
          margin-top: 10px;
          margin-left: 2%;
          }
  .comment_reply {
          width: 60%;
          text-align: left;
          margin-top: 10px;
          }
  .reply_to {
          font-size: 13px;
          color: #aaa;
          }
  .comment_submit {
          color: #fff;
          border: solid 1px #449 !important;
          background-color: #99E;
          margin-left: 0px !important;
          font-size: 11px;
          }
  .comment_owner_link {
          text-decoration: none;
          color: #6090aa;
          }
  .comment_actions {
          float: right;
          font-size: 12px;
          font-family: verdana, sans-serif;
          }
  .comment_reply_link {
          text-decoration: none;
          color: #6090AA;
          }
  .comment_cancel {
          font-size: 12px;
          }
  .search_prompt {
          font-size: 18px;
          }
  .search_box {
          border: solid 1px #999;
          width: 100%;
          height: 40px;
          }
  .search_go {
          float: right;
          }
  div#search_inner {
          width: 60%;
          }
  div#mid_content {
          width: 90%;
          text-align: left;
          margin-left: auto;
          margin-right: auto;
          }
</style>

<div id="pullout">
  <div id="logo">Jabber@t</div>
  <div id="topic_space">
      <div class="medium_heading">
          Hot Topics
      </div>
      <% @hot_topics.each do |topic| %>
          <div class="topic_in_list">
              <%= link_to(image_tag(gravatar_url_for(topic.user), :width => 30, :height => 30, :class => 'owner_pic_in_list'),topic.user, :class => 'topic_owner_in_list') %>
              <div class="topic_content_in_list">
                <a href="<%= url_for(:controller => :start, :action => :index, :id => topic) %>" class="topic_content_link_in_list">
                      <%= topic.content %>
                </a>
              </div>
              <div class="topic_time_in_list">
                  <%= time_ago_in_words(topic.updated_at) %> ago
              </div>
          </div>
      <% end %>
  </div>
</div>

<div id="main_space">

    <% if flash[:notice] -%>
        <p class="notice"><%= flash[:notice] %></p>
    <% end -%>
    <% if flash[:error] -%>
        <p class="error"><%= flash[:error] %></p>
    <% end -%>

    <% form_tag '', :method => 'get' do -%>
        <div id="main_deal">
            <div id="search_inner">
              <label class="search_prompt">Whaddya Wanna Talk About?</label><br/>
              <%= text_area_tag :t, @content, :maxlength => 500, :class => "search_box" %><br/>
              <%= submit_tag "Go", :name => 'c', :class => 'search_go' %>
            </div>
        </div>
    <% end %>
    <% unless @content.blank? %>
      <div id="mid_content">
        <% unless @topics.blank? %>
          <div id="exist_prompt">Does your topic already exist?</div>
          <div id="existing_suggestions">
              <% @topics.each do |topic| %>
                  <div class="topic_in_list">
                      <%= link_to(image_tag(gravatar_url_for(topic.user), :width => 30, :height => 30, :class => 'owner_pic_in_list'),topic.user, :class => 'topic_owner_in_list') %>
                      <div class="topic_content_in_list">
                        <a href="<%= url_for(:controller => :start, :action => :index, :id => topic) %>" class="topic_content_link_in_list">
                              <%= topic.content %>
                        </a>
                      </div>
                      <div class="topic_time_in_list">
                          <%= time_ago_in_words(topic.updated_at) %> ago
                      </div>
                  </div>
              <% end %>
          </div>
        <% else %>
          <div id="exist_prompt">No related topics found.</div>
        <% end %>
        <div id="creation_prompt">
            <% form_for(@topic) do |f| %>
                <%= f.text_area :content, :value => @content, :onkeypress => "return imposeMaxLength(this, 500);" %><br/>
                <%= f.submit "Create a new Topic", :style => "width:138px;" %>
            <% end %>
        </div>
      </div>
    <% end %>
    
    <% if @content.blank? and !@topic.id.blank? %>
      <script type="text/javascript">
          function reply_to(comment_id, level, prompt) {
            parent_div = $('comment_' + comment_id);
            child_div = $('comment_reply_' + comment_id);
            if (child_div) {
              child_div.parentNode.removeChild(child_div);              
            } else {
              child_html = "<div id='comment_reply_" + comment_id + "' class='comment_reply' style='margin-left:"+ (2 * (level + 2)) + "%;'>" +
                           "  <div class='reply_to'>" + prompt + "</div>" +
                           "  <form class='new_comment' method='post' action='/topics/" + "<%= @topic.id %>" + "/comments'>" +
                           "    <input type='hidden' name='authenticity_token' value='" + "<%= form_authenticity_token() %>" + "'/>" +
                           "    <input type='hidden' name='comment[parent_id]' value='" + comment_id + "'/>" +
                           "    <input type='hidden' name='comment[level]' value='" + (level + 1) + "'/>" +
                           "    <textarea class='comment_text_area' rows='20' cols='40' name='comment[content]' onkeypress='return imposeMaxLength(this, 500);'></textarea>" +
                           "    <input class='comment_submit' type='submit' value='Submit' name='commit'/> | <a href='#' onclick='reply_to("+ comment_id + ",null,null);return false;' class='comment_cancel'>Cancel</a>" +
                           "  </form>" +
                           "</div>";
              child_div = document.createElement("div");
              child_div.innerHTML = child_html;
              parent_div.parentNode.insertBefore(child_div, parent_div.nextSibling);
            }
          }
      </script>
      <div id="topic_area">
        <div id="the_topic">
            <%= link_to(image_tag(gravatar_url_for(@topic.user), :width => 60, :height => 60, :class => 'owner_pic'),@topic.user, :class => 'topic_owner') %>
            <div class="topic_owner_name">
                <%= link_to "#{@topic.user.login}:", @topic.user %>
            </div>
            <div class="topic_content">
              <%= @topic.content %>
            </div>
            <div class="topic_time">
                <%= time_ago_in_words(@topic.updated_at) %> ago
            </div>
        </div>
        <div id="topic_reply">
            <div class="reply_to">
                Your reply to <%= image_tag(gravatar_url_for(@topic.user), :width => 15, :height => 15) %> <%= @topic.user.login %>
            </div>
            <% form_for([@topic,@comment]) do |f| %>
              <%= f.text_area :content, :class => "comment_text_area", :onkeypress => "return imposeMaxLength(this, 500);" %>
              <%= f.submit "Submit", :class => "comment_submit" %>
            <% end %>
        </div>
        <% @comments.each do |comment| %>
          <div class="comment <% if comment.level.to_i == 0 %>root<% end %>" style="margin-left:<%= 2 * (comment.level.to_i + 1) %>%;" id="comment_<%= comment.id %>">
              <%= link_to(image_tag(gravatar_url_for(comment.user), :width => 35, :height => 35, :class => 'comment_owner_pic'),comment.user, :class => 'comment_owner') %>
              <div class="comment_actions">
                  <%= link_to_function "Reply", "reply_to(#{comment.id},#{comment.level.to_i},'Your reply to #{image_tag(gravatar_url_for(comment.user), :width => 15, :height => 15)} #{comment.user.login}')", :class => "comment_reply_link" %>
              </div>
              <div class="comment_content">
                <%= link_to "#{comment.user.login}:", comment.user, :class => "comment_owner_link" %> <%= comment.content %>
              </div>
              <div class="comment_time">
                  <%= time_ago_in_words(comment.created_at) %> ago
              </div>
          </div>
        <% end %>
        <div id="last_comment_div_for_insert_before" style="height:50px;"> </div>
      </div>
    <% end %>
</div>
