<%= stylesheet_link_tag 'home' %>

<%# PULLOUT %>

<div id="pullout">
  <div id="logo"><img src="/images/tawk_logo.png" alt=""/></div>
  <div id="topic_space">
      <div class="medium_heading">
          Hot Tawks
      </div>
      <% @hot_topics.each do |topic| %>
          <div class="topic_in_list">
              <%= link_to(image_tag(gravatar_url_for(topic.user), :width => 30, :height => 30, :class => 'owner_pic_in_list'),topic.user, :class => 'topic_owner_in_list') %>
              <a href="<%= url_for(:controller => :start, :action => :index, :id => topic) %>" class="topic_content_link_in_list">
                <div class="topic_content_in_list"><%= topic.content %></div>
              </a>
              <div class="topic_info_line">
                <div class="topic_replies_in_list">
                    <% if topic.comments.size > 0 %>
                      <%= topic.comments.count %> replies,
                    <% else %>
                      new topic
                    <% end %>
                </div>
                <div class="topic_time_in_list">
                    &nbsp;updated <%= time_ago_in_words(topic.updated_at) %> ago
                </div>
                <div style="clear:left;"> </div>
              </div>
          </div>
      <% end %>
      <div style="height:10px;"> </div>
      <div class="medium_heading">
          Your Current Stuff
      </div>
      <% if current_user %>
        <% @notifications.each do |n| %>
            <div class="topic_in_list">
                <a href="<%= url_for(:controller => :start, :action => :index, :id => n.topic) %>" class="topic_content_link_in_list">
                  <%=  notification_html n %>
                </a>
                <div class="topic_info_line"  style="margin-left: 25px;">
                  <div class="topic_replies_in_list">
                      <%= notification_explanation_html n %>
                  </div>
                  <div class="topic_time_in_list">
                    &nbsp;<%= time_ago_in_words(n.last_reply.created_at) %> ago
                  </div>
                </div>
                <div style="clear:left;"> </div>
            </div>
        <% end %>
      <% else %>
        <div class="prompt_login">
            <%= link_to 'Login', login_path %> to see activities on topics you've created or participated in.
        </div>
      <% end %>
  </div>
</div>

<div id="main_space">

    <%# FLASH NOTICE AREA %>

    <% if flash[:notice] -%>
        <p class="notice"><%= flash[:notice] %></p>
    <% end -%>
    <% if flash[:error] -%>
        <p class="error"><%= flash[:error] %></p>
    <% end -%>

    <%# TOPIC SEARCH %>

    <% form_tag '', :method => 'get' do -%>
        <div id="main_deal">
            <div id="search_inner">
              <label class="search_prompt">Whaddya Wanna Talk About?</label><br/>
              <%= text_area_tag :t, @content, :maxlength => 500, :class => "search_box" %><br/>
              <%= submit_tag "Go", :name => 'c', :class => 'search_go' %>
              <div class="prompt_help">Enter news, ask a question, post a link, or write whatever</div>
            </div>
        </div>
    <% end %>

    <%# EXISTING TOPIC PROMPTS %>

    <% unless @content.blank? %>
      <div id="mid_content">
        <% unless @topics.blank? %>
          <div id="exist_prompt">Does your topic already exist?</div>
          <div id="existing_suggestions">
              <% @topics.each do |topic| %>
                  <div class="topic_in_list">
                      <%= link_to(image_tag(gravatar_url_for(topic.user), :width => 30, :height => 30, :class => 'owner_pic_in_list'),topic.user, :class => 'topic_owner_in_list') %>
                      <a href="<%= url_for(:controller => :start, :action => :index, :id => topic) %>" class="topic_content_link_in_list">
                        <div class="topic_content_in_list"><%= topic.content %></div>
                      </a>
                      <div class="topic_info_line">
                        <div class="topic_replies_in_list">
                            <% if topic.comments.size > 0 %>
                              <%= topic.comments.count %> replies,
                            <% else %>
                              new topic
                            <% end %>
                        </div>
                        <div class="topic_time_in_list">
                            &nbsp;updated <%= time_ago_in_words(topic.updated_at) %> ago
                        </div>
                        <div style="clear:left;"> </div>
                      </div>
                  </div>
              <% end %>
          </div>
        <% else %>
          <div id="exist_prompt">No related topics found.</div>
        <% end %>
        <div id="creation_prompt">
            <% form_for(@topic) do |f| %>
                <%= f.text_area :content, :value => @content, :onkeypress => "return imposeMaxLength(this, 500);" %><br/>
                <%= f.submit "Create a new Topic", :style => "width:138px;" %>
            <% end %>
        </div>
      </div>
    <% end %>

    <%# TOPIC & COMMENTS BODY %>

    <div id="topic_area">

      <%# RIGHT HAND PEOPLE PANEL %>

      <div id="right_panel">
        <div class="right_panel_header">
            Recent Users
        </div>
        <div class="user_list">
          <% User.all.reverse.each do |u| %>
            <%= link_to(image_tag(gravatar_url_for(u), :class => 'follow_pic'),u, :class => 'follow_pic_link') %>
          <% end %>
        </div>
        <% if current_user %>
          <div class="right_panel_header">
              Following
          </div>
          <div class="user_list">
            <% current_user.all_following.each do |u| %>
              <%= link_to(image_tag(gravatar_url_for(u), :class => 'follow_pic'),u, :class => 'follow_pic_link') %>
            <% end %>
          </div>
          <div class="right_panel_header">
              Followers
          </div>
          <div class="user_list">
            <% current_user.followers.each do |u| %>
              <%= link_to(image_tag(gravatar_url_for(u), :class => 'follow_pic'),u, :class => 'follow_pic_link') %>
            <% end %>
          </div>
        <% else %>
           <div class="right_panel_header">
             <%=  link_to "Login", login_path %> to see people you are following and followers.
           </div>
        <% end %>
      </div>

      <% if @content.blank? and !@topic.id.blank? %>

        <%# TOPIC %>
        <%# JAVASCRIPT FUNCTION TO ADD REPLY SECTIONS %>

        <script type="text/javascript">
            function reply_to(comment_id, level, prompt) {
              parent_div = $('comment_' + comment_id);
              child_div = $('comment_reply_' + comment_id);
              if (child_div) {
                child_div.parentNode.removeChild(child_div);
              } else {
                child_html = "<div id='comment_reply_" + comment_id + "' class='comment_reply' style='margin-left:"+ (2 * (level + 2)) + "%;width:"+ (65 - (2 * (level + 2))) +"%'>" +
                             "  <div class='reply_to'>" + prompt + "</div>" +
                             "  <form class='new_comment' method='post' action='/topics/" + "<%= @topic.id %>" + "/comments'>" +
                             "    <input type='hidden' name='authenticity_token' value='" + "<%= form_authenticity_token() %>" + "'/>" +
                             "    <input type='hidden' name='comment[parent_id]' value='" + comment_id + "'/>" +
                             "    <input type='hidden' name='comment[level]' value='" + (level + 1) + "'/>" +
                             "    <textarea class='comment_text_area' rows='20' cols='40' name='comment[content]' onkeypress='return imposeMaxLength(this, 500);'></textarea>" +
                             "    <input class='comment_submit' type='submit' value='Submit' name='commit'/> | <a href='#' onclick='reply_to("+ comment_id + ",null,null);return false;' class='comment_cancel'>Cancel</a>" +
                             "  </form>" +
                             "</div>";
                child_div = document.createElement("div");
                child_div.innerHTML = child_html;
                parent_div.parentNode.insertBefore(child_div, parent_div.nextSibling);
              }
            }
        </script>

        <div id="the_topic" class="back_default" onmouseover="this.className='back_moused_over';$('topic_edit_link').style.display='';" onmouseout="this.className='back_default';$('topic_edit_link').style.display='none';">
            <%= link_to(image_tag(gravatar_url_for(@topic.user), :width => 60, :height => 60, :class => 'owner_pic'),@topic.user, :class => 'topic_owner') %>
            <div class="topic_owner_name">
                <%= link_to "#{@topic.user.login}:", @topic.user, :class => 'topic_owner_login' %>
            </div>
            <div id="topic_content" class="topic_content">
              <%= auto_jabber_link @topic.content %>
            </div>
            <% if @topic.user == current_user %>
              <a id="topic_edit_link" onclick="$('topic_content').hide();$('topic_form').show();$('topic_content_edit').focus();return false;" href="#" class="topic_edit_link" style="display:none;">Edit</a>
            <% else %>
              <span id="topic_edit_link" class="inactive_topic_link" style="display:none;">Edit</span>
            <% end %>
            <div id="topic_form" class="topic_content" style="display:none;">
              <% remote_form_for(@topic) do |f| %>
                <%= f.text_area :content, :value => @topic.content, :id => 'topic_content_edit', :class => "topic_content_edit_area" %><br/>
                <a id="topic_edit_cancel_link" onclick="$('topic_form').hide();$('topic_content').show();return false;" href="#" style="text-decoration:none;color:#6090AA;font-size: 14px;">Cancel</a> | <%= f.submit "Update" %>
              <% end %>
            </div>
            <div class="topic_time">
                <%= time_ago_in_words(@topic.updated_at) %> ago
            </div>
            <div id="invite_people">
              <% if current_user %>
                <%= link_to "Invite others by email", "#", :class => 'invite_link', :onclick => "$('invite_form_div').toggle();$('emails').focus();return false;" %>
              <% else %>
                <div class="inactive_button">Login to invite others</div>
              <% end %>
            </div>
            <% if current_user %>
              <div id="invite_form_div" style="display:none;">
                  <% form_remote_tag(:url => {:controller => :start, :action => :email_invites, :id => @topic.id}) do  %>
                    <div class="invite_email_description">
                        <strong>Enter emails in a comma delimited list </strong><br/>
                        example:  bob@somewhere.com, lindsay@anotherplace.org, chad@nowhere.com<br/>
                        Note that we do not keep the emails in anyway and only use them this one time to send an invitation.
                    </div>
                    <%= text_area_tag :emails, nil, :class => "invite_email_text_area" %>
                    <div class="invite_email_description">
                        <strong>Email Body</strong>
                    </div>
                    <%= text_area_tag :content, "Hi,\nI am inviting you to a conversation at #{url_for(:controller => :start, :action => :index, :id => @topic.id, :only_path => false)}:\n   \"#{@topic.content}\"\n- #{current_user.login}", :class => "invite_email_text_area_content" %>
                    <a id="invite_cancel_link" onclick="$('invite_form_div').hide();return false;" href="#" style="text-decoration:none;color:#6090AA;font-size: 14px;">Cancel</a> |
                    <%= submit_tag "Invite", :onclick => "$('invite_submit_progress').show();return true;" %> <span id="invite_submit_progress" style="display:none;"><img src="/images/progress_sm.gif" alt=""/> sending emails...</span>
                  <% end %>
              </div>
            <% end %>
        </div>
        <div id="topic_reply">
            <div class="reply_to">
                Your reply to <%= image_tag(gravatar_url_for(@topic.user), :width => 15, :height => 15) %> <%= @topic.user.login %>
            </div>
            <% form_for([@topic,@comment]) do |f| %>
              <%= f.text_area :content, :class => "comment_text_area", :onkeypress => "return imposeMaxLength(this, 500);" %>
              <%= f.submit "Submit", :class => "comment_submit" %>
            <% end %>
        </div>

        <%# COMMENTS %>

        <% @comments.each do |comment| %>
          <div class="comment <% if comment.level.to_i == 0 %>root<% end %> back_default" style="margin-left:<%= 2 * (comment.level.to_i + 1) %>%;width:<%= 65 - (2 * (comment.level.to_i + 1)) %>%;" id="comment_<%= comment.id %>"  onmouseover="this.removeClassName('back_default');this.addClassName('back_moused_over');$('comment_edit_link_<%= comment.id %>').show();" onmouseout="this.removeClassName('back_moused_over');this.addClassName('back_default');$('comment_edit_link_<%= comment.id %>').hide();">
              <%= link_to(image_tag(gravatar_url_for(comment.user), :width => 35, :height => 35, :class => 'comment_owner_pic'),comment.user, :class => 'comment_owner') %>
              <div class="comment_actions">
                  <%= link_to_function "Reply", "reply_to(#{comment.id},#{comment.level.to_i},'Your reply to #{image_tag(gravatar_url_for(comment.user), :width => 15, :height => 15)} #{comment.user.login}')", :class => "comment_reply_link" %>
                  <br/>
                  <% if comment.user == current_user %>
                    <a id="comment_edit_link_<%= comment.id %>" onclick="$('comment_content_<%= comment.id %>').hide();$('comment_form_<%= comment.id %>').show();$('comment_content_edit_<%= comment.id %>').focus();return false;" href="#" style="display:none;" class="comment_reply_link">Edit</a>
                  <% else %>
                    <span id="comment_edit_link_<%= comment.id %>" class="inactive_link" style="display:none;">Edit</span>
                  <% end %>
              </div>
              <div id="comment_content_<%= comment.id %>" class="comment_content">
                <%= link_to "#{comment.user.login}:", comment.user, :class => "comment_owner_link" %> <%= auto_jabber_link comment.content %>
              </div>
              <div id="comment_form_<%= comment.id %>" class="comment_content" style="display:none;">
                <% remote_form_for([@topic,comment]) do |f| %>
                  <%= f.text_area :content, :value => comment.content, :id => "comment_content_edit_#{comment.id}", :class => "comment_content_edit_area" %><br/>
                  <a id="comment_edit_cancel_link_<%= comment.id %>" onclick="$('comment_form_<%= comment.id %>').hide();$('comment_content_<%= comment.id %>').show();return false;" href="#" style="text-decoration:none;color:#6090AA;font-size: 14px;">Cancel</a> | <%= f.submit "Update" %>
                <% end %>
              </div>
              <div class="comment_time">
                  <%= time_ago_in_words(comment.created_at) %> ago
              </div>
          </div>
        <% end %>
        <div id="last_comment_div_for_insert_before" style="height:50px;"> </div>
      <% end %>
    </div>

</div>

<script type="text/javascript">
  Nifty("div#right_panel","big");
</script>

